{% extends "base/frame_boot_base.html" %}
{% block title %} cicd/发布管理 {% endblock %}
{% block content %}
<div id="app">
    <template>
        <el-container>
            <el-header>
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item><a>服务管理</a></el-breadcrumb-item>
                    <el-breadcrumb-item><a href="{{ url_for('server.cicd') }}">cicd/发布管理</a></el-breadcrumb-item>
                </el-breadcrumb>
            </el-header>
            <el-container>

                <el-main>
                    <el-card class="box-card" shadow="hover" style="background-color: #f9f9f9;">
                        <div slot="header" class="clearfix">
                                  <span>
                                        <el-form :inline="true" :model="formInline" class="demo-form-inline">
                                                        <span style="color:red;line-height: 3px;">*必选条件*:</span>

                                            </el-form-item>
                                            <el-form-item label="服务:">
                                                <el-select v-model="formInline.service" placeholder="请选择服务业务"
                                                           @change="selectServiceChange">
                                                    <el-option
                                                            v-for="item in service_options"
                                                            :key="item.value"
                                                            :label="item.label"
                                                            :value="item.value">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>

                                            <el-form-item label="操作:">
                                                <el-select v-model="formInline.operator" placeholder="请选择操作类型"
                                                           @change="selectServiceOperatorChange">
                                                    <el-option
                                                            v-for="item in service_operator_options"
                                                            :key="item.value"
                                                            :label="item.label"
                                                            :value="item.value">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                                <el-form-item v-if="select_operator == 'backup'" label="备份版本:">
                                                    <el-select v-model="formInline.backup" placeholder="指定备份的上传版本"
                                                               @change="selectServiceBakChange">
                                                        <el-option
                                                                v-for="item in service_upload_options"
                                                                :key="item.value"
                                                                :label="item.label"
                                                                :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                                <el-form-item v-else-if="select_operator == 'rollback'" label="回滚版本:">
                                                    <el-select v-model="formInline.rollback" placeholder="指定回滚的备份版本"
                                                               @change="selectServiceRollbackChange">
                                                        <el-option
                                                                v-for="item in service_rollback_options"
                                                                :key="item.value"
                                                                :label="item.label"
                                                                :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                                <el-form-item v-else-if="select_operator == 'upload'" label="发布版本:">
                                                    <el-select v-model="formInline.upload" placeholder="选择发布版本"
                                                               @change="selectServiceuploadChange">
                                                        <el-option
                                                                v-for="item in service_upload_options"
                                                                :key="item.value"
                                                                :label="item.label"
                                                                :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>

                                            <el-form-item label="请选择业务对应机器:">
                                                <el-select v-model="formInline.mathines" multiple placeholder="选择机器" @change="selectServiceMachinesChange">
                                                    <el-option
                                                            v-for="item in mathine_options"
                                                            :key="item.value"
                                                            :label="item.label"
                                                            :value="item.value">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>

                                            <el-form-item style="padding-left:10px;">
                                                <el-button type="primary" @click="selectSubmit" icon="el-icon-search">执行操作</el-button>
                                            </el-form-item>
                                        </el-form>
                                  </span>
                        </div>
                    </el-card>

                    <el-tabs tab-position="left" type="border-card" v-model="activeTabName" @tab-click="handleTabsClick">
                        <el-tab-pane label="上传/发布/更新包列表" name="upload_tab">
                            <el-row>
                                <el-card shadow="hover">
                                    <div style="text-align:left;">
                                        <el-upload
                                                class="upload-demo"
                                                ref="upload"
                                                action="/server/ServerFile"
                                                :limit="1"
                                                :on-preview="handlePreview"
                                                :on-remove="handleRemove"
                                                :file-list="fileList"
                                                :http-request="uploadZipFile"
                                                :on-success="handleFileSuccess"
                                                :before-upload="beforeFileUpload"
                                                :on-change="handleFileChange"
                                                :on-exceed="handleExceed"
                                                :auto-upload="false">
                                            <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                                            <el-button style="margin-left: 10px;" size="small" type="success"
                                                       @click="submitUpload">上传到服务器
                                            </el-button>
                                            <span>
                                                <el-alert
                                                    title="服务器上传包列表"
                                                    description="1.在这里可以选择标记上线/更新/备份包 2:只能上传zip/tar/.tar.gz/.tgz格式文件，且不超100M"
                                                    type="info" show-icon
                                                    type="info" show-icon
                                                    :closable="false"
                                                    style="text-align:left;margin-top:10px;color:red;font-weight:blod;">
                                                </el-alert>
                                            </span>
                                        </el-upload>
                                    </div>
                                    <el-divider></el-divider>
                                    <div v-if="version_upload_files.length!=0">
                                        <template>
                                            <el-table
                                                    ref="multipleTable"
                                                    :data="version_upload_files"
                                                    tooltip-effect="dark"
                                                    :default-sort="{prop: 'file_mtime', order: 'descending'}"
                                                    style="width: 100%"
                                                    @selection-change="handleFileSelectionChange">
                                                <el-table-column
                                                        type="selection"
                                                        width="55">
                                                </el-table-column>
                                                <el-table-column
                                                        label="文件名"
                                                        prop="file_path"
                                                        width="380">
                                                    <template slot-scope="scope">{[ scope.row.file_path ]}</template>
                                                </el-table-column>
                                                <el-table-column
                                                        label="文件大小"
                                                        sortable
                                                        prop="file_size"
                                                        width="200">
                                                    <template slot-scope="scope">{[ scope.row.file_size ]}</template>
                                                </el-table-column>
                                                <el-table-column
                                                        label="创建日期/上传日期"
                                                        sortable
                                                        prop="file_mtime"
                                                        width="160">
                                                    <template slot-scope="scope">{[ scope.row.file_mtime ]}</template>
                                                </el-table-column>
                                                <el-table-column
                                                        label="服务器最后修改日期"
                                                        sortable
                                                        prop="file_ctime"
                                                        width="160">
                                                    <template slot-scope="scope">{[ scope.row.file_ctime ]}</template>
                                                </el-table-column>
                                                <el-table-column
                                                        label="操作"
                                                        width="260">
                                                    <template slot-scope="scope">
                                                        <el-button style="margin-left: 10px;" size="small"
                                                                   type="primary" @click="signPublishTag(scope.row)">
                                                            标记上线/更新
                                                        </el-button>
                                                        <el-button style="margin-left: 10px;" size="small"
                                                                   type="primary" @click="signBackupTag(scope.row)">
                                                            标记备份
                                                        </el-button>
                                                        <el-button style="margin-left: 10px;" size="small" type="error"
                                                                   @click="cancelPublishTag(scope.row)">取消标记
                                                        </el-button>
                                                    </template>
                                                </el-table-column>

                                            </el-table>
                                        </template>
                                    </div>
                                    <div v-else style="align:center;color:red;">
                                        <h4>{[ this.no_data_message ]}</h4>
                                    </div>
                                </el-card>
                            </el-row>
                        </el-tab-pane>

                        <el-tab-pane label="备份/回滚包列表" name="backup_tab">
                            <el-row>
                                <el-card shadow="hover">
                                    <div style="text-align:left;color:red;">
                                        <el-alert title="服务器备份包列表"  description="在这里可以选择标记回滚包" type="info" :closable="false" show-icon style="text-align:left;color:green;font-size:19px;">
                                        </el-alert>
                                    </div>
                                    <el-divider></el-divider>
                                    <div v-if="version_backup_files.length!=0">
                                        <template>
                                            <el-table
                                                    ref="multipleTable"
                                                    :data="version_backup_files"
                                                    tooltip-effect="dark"
                                                    :default-sort="{prop: 'file_mtime', order: 'descending'}"
                                                    style="width: 100%"
                                                    @selection-change="handleFileSelectionChange">
                                                <el-table-column
                                                        type="selection"
                                                        width="55">
                                                </el-table-column>
                                                <el-table-column
                                                        label="文件名"
                                                        prop="file_path"
                                                        width="380">
                                                    <template slot-scope="scope">{[ scope.row.file_path ]}</template>
                                                </el-table-column>
                                                <el-table-column
                                                        label="文件大小"
                                                        sortable
                                                        prop="file_size"
                                                        width="200">
                                                    <template slot-scope="scope">{[ scope.row.file_size ]}</template>
                                                </el-table-column>
                                                <el-table-column
                                                        label="创建日期/上传日期"
                                                        sortable
                                                        prop="file_mtime"
                                                        width="160">
                                                    <template slot-scope="scope">{[ scope.row.file_mtime ]}</template>
                                                </el-table-column>
                                                <el-table-column
                                                        label="服务器最后修改日期"
                                                        sortable
                                                        prop="file_ctime"
                                                        width="160">
                                                    <template slot-scope="scope">{[ scope.row.file_ctime ]}</template>
                                                </el-table-column>
                                                <el-table-column
                                                        label="操作"
                                                        width="260">
                                                    <template slot-scope="scope">
                                                        <el-button style="margin-left: 10px;" size="small"
                                                                   type="success" @click="signPublishTag(scope.row)">
                                                            标记回滚包
                                                        </el-button>
                                                        <el-button style="margin-left: 10px;" size="small" type="error"
                                                                   @click="cancelPublishTag(scope.row)">取消标记回滚包
                                                        </el-button>
                                                    </template>
                                                </el-table-column>

                                            </el-table>
                                        </template>
                                    </div>
                                    <div v-else style="align:center;color:red;">
                                        <h4>{[ this.no_data_message ]}</h4>
                                    </div>
                                </el-card>
                            </el-row>
                        </el-tab-pane>

                        <el-tab-pane label="发布历史" name="history_tab">
                            <div class="block">
                                <div style="text-align:left;color:red;">
                                        <el-alert title="操作历史记录"  description="这里展示所有的操作历史/上传/发布/备份/回滚历史" type="info" :closable="false" show-icon style="text-align:left;color:green;font-size:19px;">
                                        </el-alert>
                                </div>
                                <el-divider></el-divider>
                                <div v-if="operation_historys.length!=0" >
                                    <el-timeline>
                                        <el-timeline-item v-for="history in operation_historys" :timestamp="getUinxTime(history.service_operator_event.operator_time.$date)" placement="top">
                                            <el-card>
                                                <p>服务:{[ history.service_name ]}:  用户:{[ history.service_operator_event.operator_user ]} 事件:  {[ history.service_operator_event.operator_type ]}
                                                {[ history.service_operator_event.operator_object ]} 版本号:{[ history.version ]}</p>
                                            </el-card>
                                        </el-timeline-item>
                                    </el-timeline>
                                </div>
                                <div v-else style="align:center;color:red;">
                                        <h4>{[ this.no_data_message ]}</h4>
                            </div>
                            </div>
                        </el-tab-pane>

                        <el-tab-pane label="实时日志" name="log_tab">
                            <div class="block">
                                <div style="text-align:left;color:red;">
                                        <el-alert title="日志展示"  description="websocket实时日志展示: 1.如果有重复的日志请点击右侧刷新按钮 2.看所有日志请联系管理登录服务器查看" type="info" :closable="false" show-icon style="text-align:left;color:green;font-size:19px;">
                                        </el-alert>
                                        <el-button type="primary" circle icon="el-icon-refresh" @click="reconnectwebsocket()" v-loading.fullscreen.lock="fullscreenLoading"></el-button>
                                </div>
                                <el-divider></el-divider>
                                <ul class="infinite-list" >
                                    <li v-for="current_log_line in current_log_lines" class="infinite-list-item" style="line-height:20px;">
                                        <p v-if="current_log_line.is_error == true" style="color:red;">{[ current_log_line.data ]}</p>
                                        <p v-else>{[ current_log_line.data ]}</p>
                                    </li>
                                </ul>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </el-main>
            </el-container>
        </el-container>
    </template>
</div>


<style>
    .el-header {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 10px;
  }

  .el-footer{
    height:80px;
    line-height:10px;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 100px;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    line-height: 10px;
  }

  body > .el-container {
    margin-bottom: 20px;
  }

    .el-card__body{
        line-height:10px;
    }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }

  .el-breadcrumb {
    padding-top:23px;
    font-weight:400;
  }

  .el-divider--horizontal{
            margin: 1px 0;
  }

  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 16px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  #condition > .el-form-item__content > .el-card__body{
    line-height: 2px;
    padding:1px;

  }

  .box-card {
    margin-bottom:10px;
    height:100px;
  }



    input[type=file] {
        display:none;
    }
    .el-upload__input{
        display:none;
    }

      .serverFiles {
        border-bottom:1px solid blue;
        vertical-align:middle;
        padding:0px 0px;
    }


</style>


<script>
var Main = {
    delimiters: ['{[', ']}'],
    data(){
        return {
            data:[],
            io_client:'',
            select_service:'',
            select_service_mathines:'',
            select_service_num:'',
            service_options:[],
            mathine_options:[],
            websock: null,
            loading:true,
            fullscreenLoading: false,
            current_log_lines:[],
            service_backup_options:[],
            service_upload_options:[],
            service_rollback_options:[],
            currentVersionUploads:[],
            version_upload_files:[],
            version_backup_files:[],
            version_rollback_files:[],
            multipleFileSelection: [],
            select_operator:'',
            select_backup:'',
            select_upload:'',
            select_rollback:'',
            services:[],
            activeTabName:'upload_tab',
            fileList: [],
            operation_historys:[],
            is_backup:false,
            is_rollback:false,
            is_upload:false,
            no_data_message:'请先在全局条件中选择业务,然后才会显示服务器文件列表!',
            formInline: {
                upload: '',
                backup: '',
                rollback:'',

            },
            service_operator_options:[{
                value: 'backup',
                label: '备份'
                }, {
                value: 'upload',
                label: '发布'
                }, {
                value: 'rollback',
                label: '回滚'
                }]
        };
    },
    methods: {
   getUinxTime(udate,format="yyyy-MM-dd h:m:s"){
        if (udate) {
            udate=parseInt(udate-8*3600000);
            var newDate = new Date(udate);
        } else {
            var newDate = new Date()
        }
        var date = {
           "M+": newDate.getMonth() + 1,
           "d+": newDate.getDate(),
           "h+": newDate.getHours(),
           "m+": newDate.getMinutes(),
           "s+": newDate.getSeconds(),
           "q+": Math.floor((newDate.getMonth() + 3) / 3),
           "S+": newDate.getMilliseconds()
        };
        if (/(y+)/i.test(format)) {
           format = format.replace(RegExp.$1, (newDate.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        for (var k in date) {
           if (new RegExp("(" + k + ")").test(format)) {
               format = format.replace(RegExp.$1, RegExp.$1.length == 1
                  ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
           }
        }
        return format;
    },
    getOperationHistory() {
            // 判断是否选中服务
            let upload_service = this.select_service;
            if(!upload_service){
               this.$message({
                    type: 'error',
                     message: "请先筛选全局查询条件(服务和对应主机)",
                      duration: 6000
                });
                return;
            }
            var _this = this;
            axios({
                method: 'get',
                url: '/server/VersionControlls',
                params: {
                    username: '{{ current_user.username }}',
                    service_name: upload_service,
                }
            })
                .then(function (response) {
                    // 渲染数据表格
                    _this.operation_historys = [];
                    _this.operation_historys = response.data;
                    console.log(typeof(_this.operation_historys));
                    if(response.data.length==0){
                        _this.no_data_message = "服务器暂无历史数据,请先操作(上传/备份/回滚)增加!";
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
      },
      getHostList() {
            var _this = this;
            axios({
                method: 'get',
                url: '/server/HostList',
                params: {
                    username: '{{ current_user.username }}',
                    page_size: _this.page_size,
                    currentPage: _this.currentPage,
                    is_detail:0
                }
            })
                .then(function (response) {
                    _this.tableData = response.data.data;
                    _this.count = response.data.count;
                    _this.current_page = response.data.cureent_page;
                    _this.page_size = response.data.page_size;
                })
                .catch(function (error) {
                    console.log(error);
                });
      },
      getServerFileList() {
            // 判断是否选中服务
            let upload_service = this.select_service;
            if(!upload_service){
               this.$message({
                    type: 'error',
                     message: "请先筛选全局查询条件(服务和对应主机)",
                      duration: 6000
                });
                return;
            }
            var _this = this;
            axios({
                method: 'get',
                url: '/server/ServerFile',
                params: {
                    username: '{{ current_user.username }}',
                    service: upload_service,
                }
            })
                .then(function (response) {
                    if(response.data.code=='20002'){
                        _this.$message({
                            type: 'error',
                            message: response.data.message,
                            duration: 3000
                        });
                    }else{
                        // 渲染数据表格
                        _this.version_upload_files = [];
                        _this.version_upload_files = response.data.uploads;
                        _this.version_backup_files = [];
                        _this.version_backup_files = response.data.backups;
                        _this.version_rollback_files = [];
                        _this.version_rollback_files = response.data.rollbacks;
                        _this.service_upload_options = [];
                        _this.service_backup_options = [];
                        if(response.data.uploads.length==0){
                            _this.no_data_message = "服务器暂无数据,请先操作(上传/备份/回滚)增加!";
                        }else{
                            // 添加service_upload_options
                            if(_this.service_upload_options.length==0){
                                for(let i=0;i<response.data.uploads.length;i++){
                                    _this.service_upload_options.push({label:response.data.uploads[i].file_path.split("/").slice(-1)[0],value:response.data.uploads[i].file_path.split("/").slice(-1)[0]});
                                }
                            }
                        }
                        if(response.data.backups.length==0){
                            _this.no_data_message = "服务器暂无数据,请先操作(上传/备份/回滚)增加!";
                        }else{
                            // 添加service_rollback_options
                            if(_this.service_rollback_options.length==0){
                                for(let i=0;i<response.data.backups.length;i++){
                                    _this.service_rollback_options.push({label:response.data.backups[i].file_path.split("/").slice(-1)[0],value:response.data.backups[i].file_path.split("/").slice(-1)[0]});
                                }
                             }
                        }
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
      },
      getServiceList() {
            var _this = this;
            let username = '{{ current_user.username }}';
            axios({
                method: 'get',
                url: '/server/ServiceList',
                params: {
                    username: '{{ current_user.username }}',
                    page_size: _this.page_size,
                    currentPage: _this.currentPage
                }
            })
                .then(function (response) {
                    _this.services = response.data.data;
                    for(let i=0;i<response.data.data.length;i++){
                        let flag = false;
                        for(let m=0;m<response.data.data[i].service_developers.length;m++){
                            if(response.data.data[i].service_developers[m].username == username){
                                flag = true;
                            }
                        }
                        if(flag){
                            _this.service_options.push({label:response.data.data[i].service_name,value:response.data.data[i].service_name});
                        }
                    }
                 })
                .catch(function (error) {
                    console.log(error);
                });
      },
      // 执行远程操作
      selectSubmit(){
        console.log("正在选择业务和相应的机器....");
        // 检查远程执行参数
        console.log("执行的操作是"+this.select_operator);
        // 判断是否选中服务
        let operation_service = this.select_service;
        if(!operation_service){
             this.$message({
                type: 'error',
                message: "请先筛选全局查询条件(服务和对应主机)",
                duration: 3000
              });
              return;
         }
        let select_operation_pkg = '';
        let operation = '';
        let select_hosts = '';
        //  执行发布/更新操作
        if(this.select_operator == 'upload'){
            operation = 'upload';
            select_operation_pkg = this.select_upload;
        }
        //  执行备份操作
        if(this.select_operator == 'backup'){
            operation = 'backup';
            select_operation_pkg = this.select_backup;
        }
        //  执行回滚操作
        if(this.select_operator == 'rollback'){
            operation = 'rollback';
            select_operation_pkg = this.select_rollback;
        }
        // 获取远程执行机器
        select_hosts = this.select_service_mathines;
        console.log("选择执行机器"+this.select_service_mathines);
        // 判断是否满足执行远程操作条件
        if(select_hosts.length==0||operation==''||select_operation_pkg==''){
             this.$message({
                type: 'error',
                message: "请先筛选全局查询条件(服务和操作条件和对应主机)",
                duration: 3000
              });
              return;
        }
        // 自动切换展示列表
        this.activeTabName = "log_tab"
        // 发起请求
            let _this = this;
           // 添加临时请求拦截器
           var myInterceptor =    axios.interceptors.request.use((config)=>{
                        // 在发送请求之前做些什么
                        const loading = this.$loading({
                              lock: true,
                              text: '正在执行远程命令,过程最多需要5s,请稍后...',
                              spinner: 'el-icon-loading',
                              background: 'rgba(0, 0, 0, 0.7)'
                        });
                        setTimeout(() => {
                            loading.close();
                        }, 5000);
                       return config;
                    }, function (error) {
                        // 对请求错误做些什么
                        return Promise.reject(error);
                    });
                    // 添加响应拦截器
                    axios.interceptors.response.use((response)=> {
                        // 对响应数据做点什么
                        if(response.data.code='20000'){
                            this.$message({
                                type: 'success',
                                message: "恭喜,执行成功!",
                                duration: 5000
                            });
                        }else{
                            this.$message({
                                type: 'error',
                                message: "执行失败,请查看实时日志!",
                                duration: 5000
                            });
                        }
                        _this.reconnectwebsocket();
                        return response;
                    }, function (error) {
                        // 对响应错误做点什么
                        return Promise.reject(error);
                    });

            axios({
                method: 'post',
                url: '/server/VersionControlls',
                params: {
                    username: '{{ current_user.username }}',
                    service_name: operation_service,
                },
                data:{"select_operation_pkg":select_operation_pkg,"operation":operation,"select_hosts":select_hosts}
            })
                .then(function (response) {
                        console.log(response.data);
                 })
                .catch(function (error) {
                    console.log(error);
                });
            // 注销临时请求拦截器
            axios.interceptors.request.eject(myInterceptor);
      },
      // tab 切换事件
      handleTabsClick(tab,event){
        console.log("正在进行tab切换"+tab.name);
        //console.log(tab, event);
      },
      // 业务机器更改
      selectServiceMachinesChange(value){
          var _this = this;
          console.log("选中服务机器"+value);
          let obj = {};
          this.select_service_mathines = value;
          obj = this.mathine_options.find((item)=>{
              return item.value === value;
          });
          return obj;
      },
      // 服务更改
      selectServiceChange(value){
            var _this = this;
           console.log("选中服务"+value);
          let obj = {};
          this.select_service = value;
          obj = this.service_options.find((item)=>{
              return item.value === value;
          });
          // 先清空mathine_options 数组选项
          if(this.mathine_options.length != 0){
            this.mathine_options = [];
          }
          for(let i=0;i<this.services.length;i++){
                if(this.services[i].service_name == value){
                    for (let j=0;j<this.services[i].service_mathines.length;j++){
                        this.mathine_options.push({label:_.values(this.services[i].service_mathines[j]).join("/"),value:_.values(this.services[i].service_mathines[j]).join("/")});
                    }
                 }
           }
           _this.getServerFileList();
           _this.getOperationHistory();
          return obj;
      },
      // 操作类型更改
     selectServiceOperatorChange(value){
           console.log("选中操作类型"+value);
          let obj = {};
          this.select_operator = value;
          if(value == 'backup'){
            this.is_backup = true;
            // 自动切换展示列表
            this.activeTabName = "upload_tab"
          }else if(value == 'upload'){
            this.is_upload = true;
            // 自动切换展示列表
            this.activeTabName = "upload_tab"
          }else if(value == 'rollback'){
            // 自动切换展示列表
            this.activeTabName = "backup_tab"
            this.is_rollback = true;
          }
          obj = this.service_operator_options.find((item)=>{
              return item.value === value;
          });
           this.getServerFileList();
          return obj;
      },
       // 备份选项变更
     selectServiceBakChange(value){
           console.log("选中备份包"+value);
          let obj = {};
          this.select_backup = value;
          obj = this.service_backup_options.find((item)=>{
              return item.value === value;
          });
           this.getServerFileList();
          return obj;
      },
       // 回滚选项变更
     selectServiceRollbackChange(value){
           console.log("选中回滚包"+value);
          let obj = {};
          this.select_rollback = value;
          obj = this.service_backup_options.find((item)=>{
              return item.value === value;
          });
          this.getServerFileList();
          return obj;
      },
        // 发布选项变更
     selectServiceuploadChange(value){
           console.log("选中发布版本"+value);
          let obj = {};
          this.select_upload = value;
          obj = this.service_upload_options.find((item)=>{
              return item.value === value;
          });
           this.getServerFileList();
          return obj;
      },
      loadVersionUploads(){
        // 使用 ul li 代替 table
        this.currentVersionUploads += 1;
      },
      submitUpload() {
        this.$refs.upload.submit();
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      },
      handleFileChange(file){
        console.log("已加载本地文件"+ JSON.stringify(file));
      },
      beforeFileUpload(file) {
        console.log(file.type);
        const isGZIP = file.type === 'application/x-zip-compressed' || file.type === 'application/x-gzip'|| file.type === 'application/x-compressed' || file.type === 'application/zip';
        const isLt100M = file.size / 1024 / 1024 < 100;
        if (!isGZIP) {
          this.$message.error('上传发布文件只能是指定格式zip/tgz/tar.gz!');
        }
        if (!isLt100M) {
          this.$message.error('上传发布文件大小不能超过 100MB!');
        }
        return isGZIP && isLt100M;
      },
      handleFileSuccess(file){
        console.log("文件上传成功了...");
      },
      handleExceed(files, fileList){
        this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
      },
      uploadZipFile(f) {
                    var _this = this;
                    // 判断是否选中服务
                    let upload_service = _this.select_service;
                    if(!upload_service){
                        this.$message({
                                    type: 'error',
                                    message: "请先筛选全局查询条件(服务和对应主机)",
                                    duration: 3000
                                 });
                         return;
                    }
                    let param = new FormData(); //创建form对象
                    let username = '{{ current_user.username }}';
                    param.append('file', f.file);//通过append向form对象添加数据
                    param.append('username', username);//通过append向form对象添加数据
                    param.append("service_name",upload_service);//通过append向form对象添加数据
                    let config = {
                        headers: {'Content-Type': 'multipart/form-data'}
                    };  //添加请求头
                    axios.post(f.action, param, config)//上传文件
                        .then(function (response) {
                            if(response.data.code='20000'){
                                _this.$message({
                                    type: 'success',
                                    message: response.data.message,
                                    duration: 3000
                                 });
                            }
                          })
                          .catch(function (error) {
                            _this.$message({
                                    type: 'error',
                                    message: "上传失败,服务器内部错误!",
                                    duration: 3000
                                 });
                          });
                           _this.getServerFileList();
        },
      handleFileSelectionChange(val) {
        this.multipleFileSelection = val;
      },
      // 标记
      signPublishTag(row){
        console.log("正在标记上线发布包..");
      },
      signBackupTag(row){
        console.log("正在标记备份包..");
      },
      signRollbackTag(row){
        console.log("正在标记回滚包...");
      },
      cancelRollbackTag(row){
        console.log("取消标记回滚包");
      },
      cancelPublishTag(rows) {
        console.log("正在取消发布/更新标记");
      },
      initWebSocket(){ //初始化weosocket
                let _this = this;
                // 请参考socket.io 官方文档 https://socket.io/get-started/
　　　　　　　　var url = 'http://' + document.domain + ':' + location.port + "/runtime_logging";
                // 初始化连接
                _this.io_client = io.connect(url);
                // 绑定的事件, 对应py文件中的event参数的值
               _this.io_client.on("my_response", function(resp){
                    // 向服务器端socket io 发送消息
                    // _this.io_client.emit('my_response', "服务器端socket.io,你好");
                    let is_error_line = false;
                    if(resp.line.indexOf("ERROR") != -1){
                        is_error_line = true;
                    }
                     _this.current_log_lines.unshift({"is_error":is_error_line,"data":resp.line});
                    // _this.current_log_lines.push(resp.line);
                });
        },
        // 重连websocket
        reconnectwebsocket(){
            let _this = this;
            // 清空页面日志
            _this.current_log_lines = [];
            console.log(222);
            console.log("重新连接成功websocket中");
            _this.io_client.disconnect();
             console.log("websocket连接已关闭..");
            var url = 'http://' + document.domain + ':' + location.port + "/runtime_logging";
            const loading = this.$loading({
              lock: true,
              text: '正在刷新日志,请稍后...',
              spinner: 'el-icon-loading',
              background: 'rgba(0, 0, 0, 0.7)'
            });
            setTimeout(() => {
              loading.close();
            }, 2000);
             // 初始化连接
            _this.io_client = io.connect(url);
            _this.io_client.on("my_response", function(resp){
                    // 向服务器端socket io 发送消息
                    // _this.io_client.emit('my_response', "服务器端socket.io,你好");
                    let is_error_line = false;
                    if(resp.line.indexOf("ERROR") != -1 || resp.line.indexOf("Error") !=-1){
                        is_error_line = true;
                    }
                     _this.current_log_lines.unshift({"is_error":is_error_line,"data":resp.line});
                    // _this.current_log_lines.push(resp.line);
             });
        },
    },
    mounted(){
        this.getHostList();
        this.getServiceList();
    },
    created(){
           //页面刚进入时开启长连接
            this.initWebSocket()
    }
}
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');

</script>
{% endblock %}