[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
socket=/tmp/mysql.sock
datadir=/var/lib/mysql_datas/
[client]
default-character-set=utf8
socket=/tmp/mysql.sock
[mysql]
socket=/tmp/mysql.sock
default-character-set=utf8
