{% extends "base/frame_boot_base.html" %}
{% block title %} 导航栏列表 {% endblock %}
{% block content %}
<div id="app">
    <template>
        <el-container>
            <el-row style="height:40px;margin-top:20px;">
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark" style="backgroud-color:#85934D;">
                        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left:20px;">
                            <el-breadcrumb-item :to="{ path: '/' }">后台首页</el-breadcrumb-item>
                            <el-breadcrumb-item>导航栏列表</el-breadcrumb-item>
                        </el-breadcrumb>
                    </div>
                </el-col>
            </el-row>

            <el-header style="height:40px;">
                <el-row>
                    <el-col :span="24">
                        <div class="grid-content bg-purple-dark">
                            <!-- Form -->
                            <el-button @click="newAdd" type="success" icon="el-icon-plus" round>新增</el-button>

                            <el-dialog title="新增导航栏" :visible.sync="dialogFormVisible">
                                <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px"
                                         class="demo-ruleForm">
                                    <el-form-item label="一级导航栏名称" :label-width="selectWidth" prop="nav_name">
                                        <template>
                                            <el-select
                                                    v-model="value"
                                                    value-key="nav_name"
                                                    filterable
                                                    allow-create
                                                    placeholder="请选择已有一级导航栏或直接填写新增"
                                                    @change="selectNavNameGet">
                                                <el-option
                                                        v-for="(item,index) in options"
                                                        :key="item.id"
                                                        :label="item.label"
                                                        :value="item.value">
                                                </el-option>
                                            </el-select>
                                        </template>
                                    </el-form-item>
                                    <el-form-item label="二级导航栏名称" :label-width="formLabelWidth" prop="subnav_name">
                                        <el-input v-model="ruleForm.subnav_name" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="二级导航栏url" :label-width="formLabelWidth" prop="subnav_url">
                                        <el-input v-model="ruleForm.subnav_url" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="导航栏类型" :label-width="formLabelWidth" prop="nav_type">
                                        <el-select v-model="ruleForm.nav_type" placeholder="请选择导航栏类型">
                                            <el-option label="前台" value="前台"></el-option>
                                            <el-option label="后台" value="后台"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button @click="resetForm('ruleForm')" native-type="reset">重置</el-button>
                                    <el-button type="primary" @click="submitForm('ruleForm')">新增</el-button>
                                </div>
                            </el-dialog>

                            <el-button @click="delMul" type="danger" icon="el-icon-delete" round>删除</el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-header>

            <el-main>
                <el-table
                        :data="tableData.filter(data => !search || data.nav_name.toLowerCase().includes(search.toLowerCase()))"
                        ref="multipleTable"
                        highlight-current-row
                        @row-click="handleCurrentChange"
                        @selection-change="handleSelectionChange"
                        border
                        :default-sort="{prop: 'id', order: 'descending'}"
                        style="width: 100%">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>

                    <el-table-column
                            prop="id"
                            fixed
                            align="center"
                            sortable
                            label="ID"
                            width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{[ scope.row.id ]}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="一级导航栏名称"
                            align="center"
                            @change="handleEdit(scope.$index, scope.row)"
                            width="180">
                        <template slot-scope="scope">
                            <span v-if="scope.row.isSet">
                                <el-input size="mini" placeholder="请输入内容" v-model="scope.row.nav_name">
                                </el-input>
                            </span>
                            <span v-else style="margin-left: 10px">{[ scope.row.nav_name ]}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="前后/台"
                            align="center"
                            @change="handleEdit(scope.$index, scope.row)"
                            width="180">
                        <template slot-scope="scope">
                            <span v-if="scope.row.isSet">
                                <el-switch
                                  v-model="scope.row.nav_type"
                                  active-text="前台"
                                  inactive-text="后台"
                                active-value="1"
                                  on-value="1"
                                  off-value="0"
                                inactive-value="0"
                                :change="navTypeChange(scope.row)">
                                </el-switch>
                            </span>
                            <span v-else style="margin-left: 10px" >{[ scope.row.nav_type == 0?"后台":"前台" ]}</span>
                        </template>
                    </el-table-column>

                    <el-table-column
                            label="二级导航栏名称"
                            @change="handleEdit(scope.$index, scope.row)"
                            align="center"
                            width="180">
                        <template slot-scope="scope">
                            <span v-if="scope.row.isSet">
                                <el-input size="mini" placeholder="请输入内容" v-model="scope.row.subnav_name">
                                </el-input>
                            </span>
                            <span v-else style="margin-left: 10px">{[ scope.row.subnav_name ]}</span>
                        </template>
                    </el-table-column>

                    <el-table-column
                            label="二级导航栏url"
                            @change="handleEdit(scope.$index, scope.row)"
                            align="center"
                            width="180">
                        <template slot-scope="scope">
                            <span v-if="scope.row.isSet">
                                <el-input size="mini" placeholder="请输入内容" v-model="scope.row.subnav_url">
                                </el-input>
                            </span>
                            <span v-else style="margin-left: 10px">{[ scope.row.subnav_url ]}</span>
                        </template>
                    </el-table-column>
                    <el-table-column align="center" label="请搜索">
                        <template slot="header" slot-scope="scope" >
                            <el-input
                                    v-model="search"
                                    size="mini"
                                    placeholder="输入一级导航栏关键字搜索"/>
                        </template>
                        <template slot-scope="scope">
                            <div v-if="!scope.row.isSet">
                            <span v-if="!scope.row.isSet" class="el-tag el-tag--info el-tag--mini" style="cursor: pointer;"
                                  @click="rowEditChange(scope.row,scope.$index,true)">
                                 修改
                            </span>
                            <span  class="el-tag el-tag--danger el-tag--mini"
                                      style="cursor: pointer;"
                                      @click="rowDeleteChange(scope.row,scope.$index,true)">
                                  删除
                            </span>
                            </div>
                            <div v-else>
                                <span class="el-tag el-tag--info el-tag--mini" style="cursor: pointer;"
                                          @click="saveEditChange(scope.row,scope.$index,true)">
                                    保存
                                </span>

                                <span class="el-tag  el-tag--mini" style="cursor: pointer;"
                                          @click="cancelEditChange(scope.row,scope.$index,false)">
                                    取消
                                </span>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>

            <el-footer>
                <el-row>
                    <el-col :span="12">
                        <div class="grid-content bg-purple-light">
                            <el-button @click="toggleSelection()">取消选择</el-button>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="grid-content bg-purple-light" style="margin-right:10px;">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentPageChange"
                                    :current-page="currentPage"
                                    :page-sizes="[10,20,50]"
                                    :page-size="page_size"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="count">
                            </el-pagination>
                        </div>
                    </el-col>
                </el-row>
            </el-footer>
        </el-container>
    </template>
</div>
<style>
    .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .el-pagination {
    padding:2px 20px;
  }
  .el-select {
    width: 450px;
  }
.tb-edit .el-input {
    display: none
}
.tb-edit .current-row .el-input {
    display: block
}
.tb-edit .current-row .el-input+span {
    display: none
}
.el-table-add-row {
    margin-top: 10px;
    width: 100%;
    height: 34px;
    border: 1px dashed #c1c1cd;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    line-height: 34px;
 }
 .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }




</style>
<script>
var Main = {
    delimiters: ['{[', ']}'],
    data() {
      var checkUri = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('url不能为空'));
        }
        setTimeout(() => {
          if (!value.startsWith('/')) {
            callback(new Error('请输入有效的url,例如/abc/sss'));
          } else {
            if (value.length < 4) {
              callback(new Error('url长度必须大于4!'));
            } else {
              callback();
            }
          }
        }, 1000);
      };
      var checkNavName = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('一级导航名称不能为空'));
        }
        setTimeout(() => {
          if (!value.startsWith('/')) {
            callback(new Error('请输入有效的url,例如/abc/sss'));
          } else {
            if ((value.length < 4)||(value.length > 4)) {
              callback(new Error('url长度必须大于4并且小于12位!'));
            } else {
              callback();
            }
          }
        }, 1000);
      };
      return {
        currentPage: 1,
        count:0,
        page_size:10,
        search: '',
        loading: true,
         dialogTableVisible: false,
        dialogFormVisible: false,
        ruleForm: {
          nav_name: '',
          nav_type: '',
          subnav_name: '',
          subnav_url: '',
        },
        formLabelWidth: '120px',
        selectWidth: '120px',
        showEdit: [], //显示编辑框
        showBtn: [],
        options: [],
        showBtnOrdinary: true,
        value:[],
        tableData: [],
        rules: {
          nav_name: [
            { required: true, message: '请选择一级导航栏名称或直接填写新增', trigger:['blur', 'change']}
          ],
          nav_type: [
            { required: true, message: '请选择导航栏分类', trigger:['blur', 'change']}
          ],
          subnav_name: [
            { required: true, message: '请输入二级导航栏名称', trigger: 'blur',type:'string' },
            { min: 4, max: 12, message: '长度在 4 到 12 个字符', trigger: 'blur' }
          ],
          subnav_url: [
            {required: true,validator: checkUri, trigger: ['blur', 'change']}
          ]
        }
        }
    },
    methods: {
      changeLineData(data){
            var _this = this;
            axios({
                method: 'put',
                url: '/houtai/Nav',
                data:data
            })
                .then(function (response) {
                    if(response.data.code==20000){
                        _this.$message({
                           type: 'success',
                           message: "更新成功!"
                        });
                    }else{
                        _this.$message({
                           type: 'warning',
                           message: response.message
                        });
                    }
                })
                .catch(function (error) {
                    _this.$message({
                           type: 'error',
                           message: "服务器内部错误,请联系管理员!"
                        });
                });
      },
      getNavList() {
            var _this = this;
            axios({
                method: 'get',
                url: '/houtai/NavList',
                params: {
                    username: '{{ current_user.username }}',
                    page_size: _this.page_size,
                    currentPage: _this.currentPage
                }
            })
                .then(function (response) {
                    _this.tableData = response.data.data;
                    _this.count = response.data.count;
                    _this.current_page = response.data.current_page;
                    _this.page_size = response.data.page_size;
                    for (i = 0; i < response.data.data.length; i++) {
                          _this.options.push({label:response.data.data[i].nav_name,value:response.data.data[i].nav_name});
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        // 行内取消修改
        cancelEditChange(row, index, cg) {
                console.log(row.isSet);
                console.log("正在进行行内取消操作!");
               row.isSet=false;
        },
        // 行内保存修改
        saveEditChange(row,index,cg){
            let _this = this;
            let flag = false;
            // 修改后的数据
            var new_row_obj = Object.assign({}, row);
            delete new_row_obj.isSet;
            let data = JSON.parse(JSON.stringify(new_row_obj));
            let err_message = "";
            // 拉取下来的数据
            let old_data = {};
            // 判断新数据是否为空
            if(new_row_obj.nav_name == ''||new_row_obj.nav_name=='undefined'||new_row_obj.nav_type == ''||new_row_obj.nav_type=='undefined'||new_row_obj.subnav_name == ''||new_row_obj.subnav_name=='undefined'||new_row_obj.subnav_url == ''||new_row_obj.subnav_url=='undefined'){
                flag = true;
            }
            // 比较新旧数据
            if(old_data.nav_name == new_row_obj.nav_name && old_data.nav_type == new_row_obj.nav_type && old_data.subnav_name == new_row_obj.subnav_name && old_data.subnav_url == new_row_obj.subnav_url){
                flag = true;
            }
            if (flag) {
               _this.$message.warning(err_message+"数据未变动或有数据为空,请确认!");
               return;
            }else{
               //提交数据
               _this.changeLineData(new_row_obj);
                //然后这边重新读取表格数据
                _this.getNavList();
                row.isSet = false;
            }
        },
        // 行内删除
        rowDeleteChange(row, index, cg) {
          var _this = this;
          this.$confirm('此操作将永久删除这条二级导航栏吗, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
            }).then(() => {
              axios({
                method: 'delete',
                url: '/houtai/Nav',
                data:{"subnav_id":row.id}
            })
                .then(function (response) {
                    if(response.data.code==20000){
                        _this.$message({
                           type: 'success',
                           message: "删除成功!"
                        });
                    }else{
                        _this.$message({
                           type: 'warning',
                           message: response.message
                        });
                    }
                })
                .catch(function (error) {
                    _this.$message({
                           type: 'error',
                           message: "服务器内部错误,请联系管理员!"
                        });
                });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消删除'
              });
            });
            //然后这边重新读取表格数据
             _this.getNavList();
        },
        //行内修改
        rowEditChange(row, index, cg) {
                    var _this = this;
                    //点击修改 判断是否已经保存所有操作
                    console.log("正在修改行数据");
                    row.isSet=true;
                    return;
      },
      formatterType(row,column){
            if(row.nav_type == 0){
                return "后台";
            }else{
                return "前台";
            }
      },
      navTypeChange(data){
            console.log(data.nav_type);
      },
      handleCurrentChange(row, event, column) {
                this.$refs.multipleTable.toggleRowSelection(row);
                return false;
      },
      newAdd() {
            this.dialogFormVisible = true;
      },
      delMul() {
           let _this = this;
          let select_data = this.multipleSelection;
          if(typeof(select_data) == "undefined"){
                _this.$message({
                               type: 'warning',
                               message: "没有选中数据!"
                 });
                 return;
          }
          if(select_data.length == 0){
                _this.$message({
                               type: 'warning',
                               message: "没有选中数据!"
                 });
                 return;
          }
          this.$confirm('此操作将删除选中的'+select_data.length+'行记录, 是否继续?', '提示', {
          confirmButtonText: '删除',
          cancelButtonText: '取消',
          type: 'warning'
            }).then(() => {
              axios({
                method: 'delete',
                url: '/houtai/NavList',
                data:{"delete_data":select_data}
            })
                .then(function (response) {
                    if(response.data.code==20000){
                        _this.$message({
                           type: 'success',
                           message: "批量删除成功!"
                        });
                    }else{
                        _this.$message({
                           type: 'warning',
                           message: response.message
                        });
                    }
                })
                .catch(function (error) {
                    _this.$message({
                           type: 'error',
                           message: "服务器内部错误,请联系管理员!"
                        });
                });
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消批量删除'
              });
            });
            //然后这边重新读取表格数据
             _this.getNavList();
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },
      // 翻页操作
      handleCurrentPageChange(val){
        this.currentPage = val;
        this.getNavList();
      },
      // 页面size
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.page_size=val;
        console.log("每页"+this.page_size);
        this.getNavList();
      },
      selectNavNameGet(value){
           console.log("选中"+value);
          let obj = {};
          obj = this.options.find((item)=>{
              return item.value === value;
          });
          this.ruleForm.nav_name = value;
          return obj;
      },
      submitForm(formName) {
        this.startUsingLoading = true;
        var that = this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
                        axios({
                            method: 'POST',
                            url: '/houtai/Nav',
                            data: this.ruleForm,
                        })
                            .then(function (response) {
                                       that.$message({
								        message: '新增成功',
								        type: 'success'
								        });
                                    that.startUsingDialog = false;
                                    that.startUsingLoading = false;
                                    that.dialogFormVisible = false;
                                    that.$refs[formName].resetFields();
                                that.getNavList();
                            })
                            .catch(function (error) {
                                that.$message({
								        message: '新增失败,可能出现服务器错误!',
								        type: 'error'
								        });
                            });
                        ;
                    } else {
                        that.$message({
								        message: '表单验证失败!',
								        type: 'error'
					    });
                    }
                });
            },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    },
    mounted(){
        this.getNavList();
    }
};
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');

</script>
{% endblock %}